{
    "bot_status":{
        "token": "HOGE",
        "prefix": "aq?",
        "log_ch_id": 1111111111
        },

    "staff":{
        "owner": 2222222222,
        "admin":[333333333,4444444444,5555555555]
    }
}